<div class="lift:surround?with=default;at=content">
  <h2>Welcome to your project!</h2>
  <p>
    <div class="lift:helloWorld.howdy">
      Welcome to liftSample at <span id="time">The current time</span>
    </div>
  </p>
</div>

